@import 'share';

.dig-slice {
    background-color: none;
    &.dig-slice--filters {
        background-color: #617e8e;
    }
}

.dig-tag {
    @include fs-header(3);
}

.dig-date {
    @include fs-textSans(1);
    padding-top: 2px;
    min-height: 48px;
    box-sizing: border-box;
    color: #767676;
    border-top: 1px dotted #dfdfdf;
    border-bottom: 1px dotted #dfdfdf;
}

.dig-share-container {
    border-bottom: 1px dotted #dfdfdf;
    line-height: 1;
    padding-bottom: $gs-baseline;

    @include mq(leftCol) {
        border-bottom: 0;
    }
}

.dig-title {
    @include f-headline;
    margin: 0;
    max-width: 660px;
    font-size: 40px;
    line-height: 1.1;
    @include mq(tablet) {
        font-size: 60px;
    }
}

.dig-standfirst {
    color: #767676;
    max-width: 660px;

    @include mq(leftCol) {
        &:first-child {
            margin-top: -4px;
        }
    }
}

.dig-standfirst__links {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 4px;
        border-radius: 100px;
        background-color: #bdbdbd;
    }
}